.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.box {
  width: 400px;
  height: 400px;
  display: flex;
  border: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.big-box {
  width: 80%;
  height: 80%;
  display: flex;
  border: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.my-button {
	background-color:#44c767;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 15px;
	text-decoration:none;
  border: none;
  margin: 10px 0px 0px 0px;
}
.my-button:hover {
	background-color:#5cbf2a;
}
.my-button:active {
	position:relative;
	top:1px;
}
.buttons {
  margin: 25px 0px 25px 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  display: flex;
  justify-content: flex-start;
}
li .post-id {
  display: inline-block;
  width: 30px;
  margin: 0px 5px 0px 0px;
}
.post-title,
.post-id {
  font-size: 20px;
}
.image {
  width:100%; 
  height:250px; 
  position:relative;
  overflow:hidden;
  border: 1px solid #ffffff;
  }  
  .image img {
  width:100%;
  height:100%;
  object-fit: cover;
  }
  .hero img:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.2s ease-in;
  }
  body {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    padding: 60px 60px;
  }
  .container > .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    gap: 30px;
  }